body {
  margin: 0;
}

.disable-scroll {
  overflow: hidden;
}

.canvas-wrapper {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.main-canvas {}