body {
  font-family: 'Myriad Set Pro', -apple-system, -apple-system-font, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  user-select: none;
  font-synthesis: none;
  -webkit-text-size-adjust: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --center-padding: 1.5em;
  --border-color: #B3B2B3;
  --ios-border-width: 0.5px;
  --section-button-height: 2.75em;
  --tab-height: 3em;
  margin: 0;
  min-width: 320px;
}

body.dark {
  background: #000000;
  --border-color: #4C4D4C;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #3498db;
  text-decoration: none;
}

input:focus,
textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}


/* Status */

.disable-scroll {
  overflow: hidden;
}


/* Header */

.global-header {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: var(--ios-border-width) solid var(--border-color);
  z-index: 10;
  box-sizing: border-box;
  height: var(--tab-height);
}

.disable {
  display: none;
}

.center-frame {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 var(--center-padding);
}

.absolute-frame {
  position: absolute;
}

.bg-blur {
  background: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dark .bg-blur {
  background: rgba(0, 0, 0, 1);
}

@supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
  .bg-blur {
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .dark .bg-blur {
    background: rgba(0, 0, 0, .8);
  }
}

.gh-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: default;
}

.dark .gh-wrapper {
  color: #FFFFFF;
}

.canvas-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--tab-height);
  bottom: var(--tab-height);
  padding: 0;
}

.gh-left {
  /* color: inherit; */
}


/* Main */

.button-icon {
  height: 1.25em;
  width: 1.25em;
  background: no-repeat center;
  background-size: 1.25em;
  opacity: 1;
}

.button-icon.user {
  background-image: url('../images/user.svg');
}

.button-icon.command {
  background-image: url('../images/command.svg');
}

.button-icon.history {
  background-image: url('../images/history.svg');
}

.button-icon.setting {
  background-image: url('../images/setting.svg');
}

.dark .button-icon.user {
  background-image: url('../images/user-dark.svg');
}

.dark .button-icon.command {
  background-image: url('../images/command-dark.svg');
}

.dark .button-icon.history {
  background-image: url('../images/history-dark.svg');
}

.dark .button-icon.setting {
  background-image: url('../images/setting-dark.svg');
}

.button-icon.close {
  --close-icon-size: 1.5em;
  display: inline-block;
  background-size: var(--close-icon-size);
  height: var(--close-icon-size);
  width: var(--close-icon-size);
  background-image: url('../images/close.svg');
}

.dark .button-icon.close {
  background-image: url('../images/close-dark.svg');
}

.curtain {
  z-index: 15;
  top: 0;
  bottom: var(--tab-height);
  width: 100%;
  background: rgba(0, 0, 0, 0);
}

.control-wrapper {
  z-index: 20;
  bottom: var(--tab-height);
  left: 0;
  right: 0;
  border-top: var(--ios-border-width) solid var(--border-color);
}

.dark .control-wrapper {
  color: #FFFFFF;
}

.cw-header {
  padding: 0.75em 0;
}

.cw-header-inner {
  display: flex;
  height: 24px;
  justify-content: center;
}

.cw-header-inner .close {
  width: 100%;
}

.cw-inner {
  max-width: 1080px;
  min-width: 320px;
  padding: 0 var(--center-padding) 1em;
}

.global-footer {
  width: 100%;
  height: var(--tab-height);
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  border-top: var(--ios-border-width) solid var(--border-color);
  z-index: 20;
}

.gf-wrapper {
  height: 100%;
}

.gf-icon-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gf-list-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  transition: opacity .3s ease-out;
  height: 100%;
  box-sizing: border-box;
  padding: .5em 0 0;
}

.gf-list-item.active {
  opacity: 1;
}

.gf-list-item .button-text {
  font-size: .75em;
  margin-top: .1875em;
  cursor: default;
}

.dark .button-text {
  color: #FFFFFF;
}

.cw-sections > section {
  display: none;
}

.cw-sections > section.active {
  display: block;
}

.section-button {
  text-align: center;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  height: var(--section-button-height);
  line-height: var(--section-button-height);
  color: #FFFFFF;
  cursor: pointer;
  border-radius: .5em;
  font-weight: bolder;
}

.section-button.sign-in,
.section-button.reverse {
  background: #3498db;
}

.section-button.sign-up,
.section-button.execute,
.section-button.random {
  background: #2ecc71;
}

.section-button.sign-out {
  background: #ff3b30;
}

.user-section > div {
  display: none;
}

.user-section > div.show {
  display: initial;
}

.us-user-info {
  text-align: center;
}

.usui-name {
  font-weight: bold;
  font-size: 1.5em;
}

.usui-email {
  margin: .375em 0 .5em;
  color: #333333;
}

.dark .usui-email {
  color: #CCCCCC;
}

.us-sign-in-inner,
.us-sign-up-inner,
.cs-inner,
.ss-inner {
  max-width: 380px;
  margin: 0 auto;
}

.us-sign-in-inner label,
.us-sign-in-inner input,
.us-sign-up-inner label,
.us-sign-up-inner input,
.cs-inner-label {
  display: block;
}

.us-sign-in-inner label,
.us-sign-up-inner label,
.cs-inner-label {
  font-weight: bold;
  font-size: .875em;
  margin-bottom: 6px;
}

.inpu-area {
  margin-bottom: 1em;
  width: 100%;
  min-height: 44px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: .5em;
  padding: 6px 8px;
  border: 1px solid #d1d5da;
  box-shadow: rgba(27, 31, 35, 0.0745098) 0 1px 2px 0 inset;
}

.dark .inpu-area {
  background: #000000;
  color: #FFFFFF;
}

.us-sign-in-tip,
.us-sign-up-tip {
  text-align: center;
  margin: .5em 0 0;
}

.section-button.random,
.section-button.execute {
  margin-bottom: 1em;
}

.cs-inner textarea {
  resize: none;
  height: 6em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.setting-section {
  --switch-height: 32px;
  --switch-width: 80px;
  --switch-background-color: #51B7FB;
  --switch-border-color: #E4E4E4;
  --switch-border-width: 1px;
  --handle-size: 28px;
  --handle-color: #FFFFFF;
  --handle-border-color: tarnsparent;
  --switch-time-func: ease;
}

.ss-group {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.ss-group + .ss-group {
  margin-top: 1em;
}

.ss-group.duration,
.ss-group.delay {
  flex-flow: column;
  align-items: initial;
}

.toolkit-label {
  font-weight: bold;
}

#duration-value,
#delay-value {
  font-weight: normal;
}

#duration-value::after {
  content: "ms";
}

#delay-value::after {
  content: "s";
}

.toolkit-label span {
  display: block;
}

.ss-group.duration .toolkit-label,
.ss-group.delay .toolkit-label {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.toolkit-slider {
  margin-top: .5em;
}

.toolkit-switch {
  position: relative;
  height: var(--switch-height);
  width: var(--switch-width);
  background: var(--switch-background-color);
  box-sizing: border-box;
  border: var(--switch-border-width) solid var(--switch-border-color);
  border-radius: var(--switch-height);
  cursor: pointer;
  will-change: background;
  transition: background .2s var(--switch-time-func);
}

.toolkit-switch-label {
  position: absolute;
  line-height: var(--switch-height);
  font-size: 12px;
  will-change: opacity;
  transition: opacity .2s var(--switch-time-func);
}

.toolkit-switch-label.on {
  left: 12px;
  color: #FFFFFF;
}

.toolkit-switch-label.off {
  right: 12px;
  color: #000000;
}

.toolkit-switch[value="off"] .on {
  opacity: 0;
}

.toolkit-switch[value="on"] .off {
  opacity: 0;
}

.toolkit-switch[value="off"] {
  background: #FFFFFF;
}

.toolkit-handle {
  display: block;
  height: var(--handle-size);
  width: var(--handle-size);
  border-radius: 50%;
  border: 1px solid var(--handle-border-color);
  position: relative;
  top: 1px;
  background: var(--handle-color);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  will-change: transform;
  transition: transform .2s var(--switch-time-func);
  transform: translateX( calc(var(--switch-width) - var(--handle-size) - 3px) );
}

.toolkit-switch[value="off"] .toolkit-handle {
  transform: none;
}

input[type='range'] {
  width: 100%;
  max-width: 380px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 1px;
  background: #A6A6A6;
}

.dark input[type='range']::-webkit-slider-runnable-track {
  background: #595959;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 28px;
  width: 28px;
  margin-top: -15px;
  background: var(--handle-color);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
}

.dark input[type='range']::-webkit-slider-thumb {
  box-shadow: 0 3px 5px 0 rgba(255, 255, 255, .4);
  border: 1px solid rgba(255, 255, 255, .1);
}
