.global-tips {
  position: fixed;
  top: 96px;
  width: 100%;
  text-align: center;
  z-index: 10;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.global-tips.disable {
  display: none;
}

.global-tips-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gt-error {
  background: #ff3b30;
  font-size: 1.5em;
  line-height: 3em;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
}

.gt-countdown {
  font-size: 48px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background: #007AFF;
  border-radius: 100%;
}
